:root {
  --black: #000000;
  --p_blue: #083473;
  --red: #d10000;
  --gray: #6c6c6c;
  --white: #ffffff;
  --Montserrat: "Montserrat";
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin-700.woff") format("woff");
}
html,
body {
  background: #fafcff;
  overflow-x: hidden;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
.btn-group {
  margin-top: 72px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.grey_text {
  font-size: 0.875rem;
  line-height: 1.063rem;
  font-weight: 500;
  font-family: var(--Montserrat);
  color: var(--gray);
}
.black_text {
  font-size: 0.875rem;
  line-height: 1.063rem;
  font-weight: 500;
  font-family: var(--Montserrat);
  color: var(--black);
  margin-bottom: 3px;
}
hr {
  border-color: var(--p_blue);
  opacity: 1;
}
.primary_btn {
  padding: 1rem 1.563rem;
  background: var(--p_blue);
  color: var(--white);
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--Montserrat);
  font-weight: 600;
  border-radius: 0.5rem;
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
}
.primary_btn.outline {
  border: 1px solid var(--p_blue);
  background: var(--white);
  color: var(--p_blue);
}
button.primary_btn.icon:before {
  content: "";
  width: 0.813rem;
  height: 0.813rem;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-right: 9px;
}
button.primary_btn.icon.plus-before:before {
  background: url(../images/plus.png);
}
button.primary_btn.icon.edit-before:before {
  background: url(../images/edit.png);
  width: 1.063rem;
  height: 1.063rem;
}
button.primary_btn.icon.arrow-before:before {
  background: url(../images/arrow.png);
  width: 1.25rem;
  height: 1.25rem;
}
.cancel {
  background: var(--red);
}
.tabledata_show {
  display: flex;
  justify-content: center;
}

.data_btn {
  padding: 0.813rem 0.75rem;
  background: rgba(8, 52, 115, 0.1);
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--Montserrat);
  font-weight: 500;
  margin: 0 3px;
}
.data_btn:first-child {
  border-top-left-radius: 8px;
}
.data_btn:last-child {
  border-top-right-radius: 8px;
}
#main {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
section {
  flex: 1;
}
input,
.form-select {
  background-color: #ffffff;
  outline: none;
  border: 1px solid rgba(8, 52, 115, 0.5) !important;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 8%) !important;
  border-radius: 8px;
  height: 46px;
  width: 100%;
  padding: 0 0.75rem;
  position: relative;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--Montserrat);
  font-weight: 400;
  color: var(--black);
}
.form-check-input:checked {
  background-color: var(--p_blue);
  border-color: transparent;
  box-shadow: none;
}
/** header css **/
Header .header_top {
  padding: 1.188rem 1.25rem;
  background: #f5f5f5;
}
Header .header_top img {
  width: 100%;
  max-width: 139px;
}
Header #nav_menu {
  background: var(--p_blue);
  padding: 0.563rem 0.125rem;
}
Header #nav_menu .nav_links {
  position: relative;
  padding: 0.719rem 0.781rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: var(--Montserrat);
  font-weight: 600;
  color: var(--white);
  margin: 0 0.125rem;
  transition: all 0.4s;
}
Header #nav_menu .has_arrow:after {
  content: "";
  background: url(../images/arrow_down.png);
  width: 0.688rem;
  height: 0.438rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 7px;
  margin-top: 2px;
}
Header #nav_menu li {
  position: relative;
}
Header #nav_menu .nav_links:hover {
  background: #345d99;
}
Header #nav_menu li .nav_links.active {
  background: #345d99;
}
Header .header_bottom {
  padding: 0.625rem 1.25rem;
}
Header .header_bottom div {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--Montserrat);
  font-weight: 500;
  color: var(--p_blue);
}
Header #nav_menu li .Inner_menu {
  position: absolute;
  top: 150%;
  left: 6px;
  background: #fff;
  box-shadow: 0 0 7px #22222238;
  min-width: 15.5rem;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
Header #nav_menu li .Inner_menu.long {
  max-height: 450px;
  overflow-y: auto;
}
Header #nav_menu li .Inner_menu a {
  padding: 0.5rem 0.75rem;
  color: var(--black);
  font-family: var(--Montserrat);
  font-weight: 500;
  font-size: 0.938rem;
  transition: all 0.4s;
}
Header #nav_menu li .Inner_menu a:hover {
  background: #e6ebf5;
}
Header #nav_menu li .Inner_menu a:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.Inner_menu a.active {
  background: #e6ebf5;
}
Header #nav_menu li:hover .Inner_menu {
  top: 121%;
  opacity: 1;
  visibility: visible;
}
/** header css **/
/** banner css **/
.banner {
  padding: 1.031rem 0;
  background: rgba(52, 93, 153, 0.1);
  border-radius: 9px;
  margin: 0 20px 40px 20px;
  color: var(--p_blue);
}
.banner .sub_head {
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--p_blue);
  font-family: var(--Montserrat);
  font-weight: 500;
}
.banner .main_head {
  font-size: 2.375rem;
  line-height: 2.313rem;
  font-family: var(--Montserrat);
  font-weight: 700;
}
/** banner css **/
/** label **/
.form-label {
  font-size: 0.875rem;
  line-height: 1.063rem;
  font-family: var(--Montserrat);
  font-weight: 500;
  color: var(--black);
}
/** label **/
/** date field **/
input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 4px;
}
input[type="date"]::before {
  content: "";
  position: absolute;
  width: 2.375rem;
  height: 2.375rem;
  background: url(../images/calender.png);
  background-repeat: no-repeat;
  background-size: cover;
  right: 4px;
}
/** date field **/
/** check box css **/
input[type="checkbox"] {
  padding: 0;
  border-radius: 2px !important;
  margin-right: 14px;
  border: 1px solid var(--p_blue);
}
/** check box css **/
/** radio button **/
input[type="radio"] {
  padding: 0;
  border: 1px solid var(--p_blue) !important;
}
/** radio button **/
/** input file **/
input[type="file"] {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  height: 50px;
}
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  margin-right: 25px;
  margin-top: 0;
}
input[type="file"]::after {
  content: "Choose File";
  position: absolute;
  background: rgba(217, 217, 217, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 0.813rem 0.938rem;
  font-family: var(--Montserrat);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  left: 0;
  top: 0;
}
/** input file **/
/** form heading **/
.defualt_heading {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-family: var(--Montserrat);
  font-weight: 600;
  margin-bottom: 18px;
}
/** form heading **/
/** pill status **/
.pill {
  display: inline-block;
  margin-right: 5px;
  padding: 0.438rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.063rem;
  font-family: var(--Montserrat);
  font-weight: 500;
  color: var(--black);
  border-radius: 6px;
}
/** pill status **/
/** tab btn **/
.tab-btn {
  background: #e1e1e1 !important;
  color: var(--black);
}
.tab-btn.active {
  background: var(--p_blue) !important;
}
/** tab btn **/
/** form box lauout **/
.form_boxlayout form {
  width: 100%;
  max-width: 425px;
  margin: 0 auto 30px;
}
.box-solid {
  background: rgba(52, 93, 153, 0.1);
  height: 66px;
  display: flex;
  align-items: center;
  margin: 0 2px 4px 2px;
  padding: 0 10px;
}
.box-solid .form-label {
  margin: 0;
}
.form_boxlayout .row :is(.col-md-4, .col-md-8, .col-md-6) {
  padding: 0px;
}
.form_boxlayout .primary_btn {
  padding: 0.813rem 1.25rem;
}
.form_boxlayout .box-solid.button-space {
  justify-content: center;
}
.top-left-border {
  border-top-left-radius: 0.5rem;
}
.bottom-left-border {
  border-bottom-left-radius: 0.5rem;
}
.top-right-border {
  border-top-right-radius: 0.5rem;
}
.bottom-right-border {
  border-bottom-right-radius: 0.5rem;
}
.form_boxlayout table {
  border-collapse: separate;
  max-width: 1140px;
  margin: 0 auto;
}
.form_boxlayout table th {
  text-align: center;
  background: var(--p_blue);
  color: var(--white);
  font-size: 1rem;
  line-height: 1.938rem;
  font-family: var(--Montserrat);
  font-weight: 600;
}
.form_boxlayout table td {
  font-size: 1rem;
  line-height: 1.938rem;
  font-family: var(--Montserrat);
  font-weight: 600;
  color: var(--black);
  padding: 0.5rem;
  border: 1px solid rgba(8, 52, 115, 0.3);
}
.form_boxlayout table tbody tr:nth-child(even) {
  background: rgba(8, 52, 115, 0.1);
}
/** form box lauout **/
/** table pagination layout **/
div#buttons {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
}
input.arrow_btn {
  color: transparent;
  width: 3rem;
  height: 3rem;
  background-color: rgba(8, 52, 115, 0.06) !important;
  border: 1px solid var(--p_blue) !important;
  box-shadow: none !important;
  position: relative;
  background: url(../images/blue_arrow.png);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center center;
  border-radius: 0;
}
input.arrow_btn.prev {
  float: left;
  transform: rotate(90deg);
  border-bottom-right-radius: 8px;
}
input.arrow_btn.next {
  float: right;
  transform: rotate(-90deg);
  border-bottom-left-radius: 8px;
}
div#buttons :is(#id1, #id2) {
  width: 1.813rem;
  height: 1.813rem;
  background: var(--white);
  border: 1px solid var(--p_blue);
  border-radius: 0;
  margin: 0 5px;
  box-shadow: none !important;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--Montserrat);
  font-weight: 600;
  padding: 0;
}
div#buttons input.active {
  background: rgba(8, 52, 115, 0.3) !important;
}
/** table pagination layout **/
/** long table **/
.long_table {
  overflow-x: auto;
}
.long_table table {
  width: 6000px;
  max-width: initial;
}
.long_table .close img {
  width: 22px;
}
/** long table **/
/** footer css **/
footer-component footer {
  padding: 1.25rem;
}
footer-component .Print img {
  width: 2.375rem;
  height: 2.375rem;
}
footer-component div {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--Montserrat);
  font-weight: 600;
  color: var(--p_blue);
}
footer-component .text2 {
  font-size: 0.75rem;
  line-height: 0.938rem;
  margin-top: 1px;
}
/** footer css **/
