/** login page css **/
.top_logo {
  position: absolute;
  top: 40px;
  left: 40px;
}
.top_logo a img {
  width: 100%;
  max-width: 175px;
}
#login_form {
  background: url(../images/bg_shape.png);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  background-color: var(--white);
}
#login_form .form_heading h2 {
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: var(--black);
  font-family: "Montserrat";
  font-weight: 700;
}
#login_form .form_wrapper {
  max-width: 400px;
  margin: 0 auto;
}
#login_form .form_heading p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--black);
  font-family: "Montserrat";
  font-weight: 400;
}
#login_form .input-group-text {
  background: transparent;
  border: none;
  padding: 0;
}
#login_form .input-group-text svg {
  width: 16px;
}
#login_form .input-group input {
  border: none !important;
  box-shadow: none !important;
  font-size: 1rem;
  line-height: 1.188rem;
  font-family: "Montserrat";
  font-weight: 500;
  height: auto;
}
#login_form .input-group {
  padding: 0.625rem 1.125rem;
  border: 0.5px solid #a1a1a5;
  border-radius: 4px;
  margin-bottom: 24px;
}
#login_form .input-group .label {
  position: absolute;
  top: -8px;
  left: 21px;
  padding: 0 0.25rem;
  background: #fff;
  font-size: 0.688rem;
  line-height: 0.813rem;
  color: #a1a1a5;
}
#login_form .input-group:focus {
  border: 0.5px solid var(--p_blue);
}
#login_form .form-check {
  margin-bottom: 28px;
}
#login_form .form-check .form-check-label {
  font-size: 0.813rem;
  line-height: 1rem;
  color: #a1a1a5;
  font-family: "Montserrat";
  font-weight: 500;
}
#login_form .form-check .lost_pass {
  font-size: 0.813rem;
  line-height: 1rem;
  font-family: "Montserrat";
  font-weight: 600;
  color: var(--p_blue);
  float: right;
  margin-top: 4px;
}
#login_form button[type="submit"] {
  width: 100%;
  background: var(--p_blue);
  border: 1px solid var(--p_blue);
  box-shadow: 0px 10px 20px rgb(8 52 115 / 16%);
  border-radius: 8px;
  padding: 1.5rem 0;
  font-size: 1.125rem;
  line-height: 1.375px;
  font-family: "Montserrat";
  font-weight: 600;
}
.bg_img img {
  max-width: 620px;
}
/** login page css **/
/** client page css **/
#client .table_part {
  margin-top: 52px;
}
#client table {
  border-collapse: separate;
  width: 1296px;
}
#client table th {
  background: #e1e1e1;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--Montserrat);
  font-weight: 600;
  text-align: center;
  padding: 0.875rem 0;
}
#client table td {
  border: 1px solid #b0d1ff;
  padding: 1.25rem 0;
  text-align: center;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--Montserrat);
  font-weight: 600;
  color: #2512ff;
}
#client .custom-width {
  width: 20%;
}
#client .table_wrapper {
  overflow-x: auto;
}
/** client page css **/
/** prior-authorizations page css **/
#prior-authorizations .status {
  margin-bottom: 30px;
}
#prior-authorizations .status .badge {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 20px;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--Montserrat);
  font-weight: 600;
  color: var(--black);
  white-space: normal;
  margin: 0 5px;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
}
/** prior-authorizations page css **/
/** placement page css **/
#placements .status_show {
  margin-bottom: 25px;
}
#placements .status_show .status_inner {
  display: flex;
  align-items: center;
}
#placements .status_show .box {
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 8px;
  border: 1px solid var(--p_blue);
  margin-right: 12px;
}
#placements .status_show .status_text {
  margin: 0;
}
/** placement page css **/
/** account-payable page css **/
.advance_btn {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-family: var(--Montserrat);
  font-weight: 600;
  color: var(--p_blue);
  text-decoration: underline;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.advance_btn:after {
  content: "";
  position: absolute;
  right: -19px;
  top: 4px;
  background: url(../images/blue_arrow.png);
  background-size: cover;
  width: 14px;
  height: 14px;
  transition: all 0.3s ease;
}
.advance_btn.active:after {
  transform: rotate(180deg);
}
.hidden_div {
  display: none;
}
.hidden_div.show {
  display: block;
}
/** account-payable page css **/
/** debtsreport page css **/
.report_table .th {
  background: rgba(52, 93, 153, 0.1);
  border: 1px solid #345d99;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--Montserrat);
  font-weight: 500;
  color: var(--black);
  padding: 0.875rem 0;
  text-align: center;
  margin: 0 3px;
}
.report_table .th:first-child {
  border-top-left-radius: 8px;
}
.report_table .th:last-child {
  border-top-right-radius: 8px;
}
/** debtsreport page css **/
/** user online css **/
#users-online .new_head img {
  width: 2.125rem;
  height: 2.125rem;
  background: var(--p_blue);
  padding: 5px;
  border-radius: 6px;
}
#users-online .new_head .Online_heading {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Montserrat";
  margin-left: 12px;
}
#users-online .info {
  padding-left: 50px;
}
#users-online .info_list {
  display: flex;
  align-items: center;
}
#users-online .info_text {
  margin-left: 13px;
  margin-top: 4px;
  font-size: 0.875rem;
  line-height: 1.063rem;
  color: #000;
  font-weight: 500;
  font-family: "Montserrat";
}
/** user online css **/
/** providors page **/

#providers .tab-btn {
  padding: 0.75rem;
}
/** providors page **/
/** feedback page **/
#feedback form {
  max-width: 662px;
  margin: 0 auto;
}
.feedback_comment_section .text {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-family: var(--Montserrat);
  font-weight: 600;
}
.review {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--p_blue);
}
.feedback_comment_section .text.date {
  font-weight: 500;
}
.feedback_comment_section .paragrph_text {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: var(--Montserrat);
  font-weight: 600;
}
.feedback_comment_section .paragrph_text a {
  color: var(--p_blue);
  display: inline-block;
}
/** feedback page **/
/** calender page **/
#calender {
  padding: 0 15px;
}
#calender .solid_design {
  background: rgba(52, 93, 153, 0.1);
  border: 1px solid var(--p_blue);
}
#calender .internal_chat {
  display: grid;
  place-items: center;
  height: 5rem;
  background: rgba(52, 93, 153, 0.1);
  border: 1px solid var(--p_blue);
  border-radius: 8px 8px 0px 0px;
  font-size: 1.25rem;
  font-family: "Montserrat";
  font-weight: 600;
  color: var(--p_blue);
  margin-bottom: 4px;
}
#calender .member_part {
  padding: 10px;
  margin-bottom: 4px;
}
#calender .member_inner {
  display: flex;
  align-items: center;
}
#calender .member_inner .num {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  background: var(--white);
  border-radius: 50%;
  line-height: 2.5rem;
  font-size: 1rem;
  font-family: var(--Montserrat);
  font-weight: 600;
  color: var(--black);
  margin-right: 12px;
}
#calender .member_inner .name {
  font-size: 1rem;
  line-height: 1.188rem;
  font-family: "Montserrat";
  font-weight: 600;
  color: var(--black);
}
#calender .member_inner {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
#calender .member.active .member_inner {
  background: var(--p_blue);
}
#calender .member.active .name {
  color: var(--white);
}
#calender .membername {
  padding: 1.125rem 0;
  text-align: center;
  font-size: 1rem;
  line-height: 1.25rem;
  background: var(--p_blue);
  color: #fff;
  font-family: var(--Montserrat);
  font-weight: 600;
}
#calender .chat_box {
  padding: 10px;
  height: 365px;
}
#calender .chat_box input {
  border: none !important;
  height: 56px;
  box-shadow: none !important;
  border-radius: 14px;
}
#calender .text_field {
  position: relative;
}
.chat_arrow {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 4px;
  top: 3px;
  background: var(--p_blue);
  border-radius: 14px;
}
#calender .text_field img {
  width: 1.5rem;
  height: 1.5rem;
}
#calender .message {
  font-size: 0.875rem;
  line-height: 1.063rem;
  font-family: "Montserrat";
  font-weight: 500;
  padding: 14px;
  background: rgba(8, 52, 115, 0.2);
  border-radius: 20px 0px 20px 20px;
  max-width: 16.5rem;
  margin-left: auto;
}
#calender .time {
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-family: "Montserrat";
  font-weight: 400;
  color: #000;
  margin-top: 7px;
}
#calender .right_message {
  text-align: right;
}
#calender .left_message {
  text-align: left;
}
#calender .left_message .message {
  background: var(--white);
  border-radius: 0px 20px 20px 20px;
  margin-right: auto;
  margin-left: 0;
}
#calender .chat_container {
  margin-bottom: 27px;
}
/** calender page **/
